* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
body {
    background: url("../img/green_skiers.png");
}

.container {
    max-width: 120rem !important;
    width: 90% !important;
    margin: 0 auto !important;
    background-color: rgba(255, 255, 255, .85) !important;
}

.container-content {
    padding: 0 10%;
    padding-bottom: 5%;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}